<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytrue.modules.system.dao.SysDeptDao">

    <resultMap id="BaseResultMap" type="com.ytrue.modules.system.model.po.SysDept">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="pid" column="pid" jdbcType="BIGINT"/>
        <result property="subCount" column="sub_count" jdbcType="INTEGER"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="deptSort" column="dept_sort" jdbcType="INTEGER"/>
        <result property="leader" column="leader" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="status" column="enabled" jdbcType="TINYINT"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--根据角色ID查询部门id-->
    <select id="listDeptIdByRoleId" resultType="java.lang.Long">
        SELECT
        d.id
        FROM
        sys_dept d
        LEFT JOIN sys_role_dept rd ON d.id = rd.dept_id
        WHERE
        rd.role_id = #{roleId}
        <if test="deptCheckStrictly">
            AND d.id NOT IN (
            SELECT
            d.pid
            FROM
            sys_dept d
            INNER JOIN sys_role_dept rd ON d.id = rd.dept_id
            AND rd.role_id = #{roleId})
        </if>
        ORDER BY
        d.pid,
        d.dept_sort
    </select>
</mapper>
