<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytrue.modules.system.dao.SysLogDao">

    <resultMap id="BaseResultMap" type="com.ytrue.modules.system.model.po.SysLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="requestIp" column="request_ip" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="operator" column="operator" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="classPath" column="class_path" jdbcType="VARCHAR"/>
            <result property="actionMethod" column="action_method" jdbcType="VARCHAR"/>
            <result property="requestUri" column="request_uri" jdbcType="VARCHAR"/>
            <result property="httpMethod" column="http_method" jdbcType="VARCHAR"/>
            <result property="params" column="params" jdbcType="VARCHAR"/>
            <result property="result" column="result" jdbcType="VARCHAR"/>
            <result property="exDesc" column="ex_desc" jdbcType="VARCHAR"/>
            <result property="exDetail" column="ex_detail" jdbcType="VARCHAR"/>
            <result property="browser" column="browser" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="consumingTime" column="consuming_time" jdbcType="BIGINT"/>
    </resultMap>
</mapper>
