<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytrue.modules.system.dao.SysRoleMenuDao">

    <resultMap id="BaseResultMap" type="com.ytrue.modules.system.model.po.SysRoleMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="menuId" column="menu_id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
    </resultMap>

    <!--根据角色id 批量添加角色与菜单关系-->
    <insert id="insertBatchRoleMenu">
        insert into sys_role_menu (role_id,menu_id) values
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId},#{menuId})
        </foreach>
    </insert>
</mapper>
