<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytrue.modules.system.dao.SysUserDao">

    <resultMap id="BaseResultMap" type="com.ytrue.modules.system.model.po.SysUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="deptId" column="dept_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="avatarName" column="avatar_name" jdbcType="VARCHAR"/>
            <result property="avatarPath" column="avatar_path" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="isAdmin" column="is_admin" jdbcType="BIT"/>
            <result property="status" column="enabled" jdbcType="TINYINT"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="pwdResetTime" column="pwd_reset_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <!--查询用户的所有权限-->
    <select id="listPermsByUserId" resultType="java.lang.String">
        SELECT m.perms
        FROM sys_user_role ur
                 INNER JOIN sys_role_menu rm ON ur.role_id = rm.role_id
                 INNER JOIN sys_menu m ON rm.menu_id = m.id
        WHERE ur.user_id = #{userId}
    </select>
</mapper>
