<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytrue.modules.system.dao.SysUserRoleDao">

    <resultMap id="BaseResultMap" type="com.ytrue.modules.system.model.po.SysUserRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
    </resultMap>

    <!--根据用户id 批量添加用户与角色关系-->
    <insert id="insertBatchUserRole">
        insert into sys_user_role (user_id,role_id) values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId},#{roleId})
        </foreach>
    </insert>
</mapper>
